# SERVER
HTTP_PORT=3000

# BOT
LEADS_BOT_TOKEN=token
WEBHOOK_HOST=host

# LOGS
LOG_PRETTY=true
LOG_LEVEL='info'

# MONGO
MONGO_URI=mongodb://

# PLATES
DEFAULT_PLATES=BG0007JB


# GOOGLE
GOOGLE_SEARCH_API=''
GOOGLE_ENGINE_ID=''